#title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(236, 105, 18);
    font-size: 100px;
}

.links{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.align {
    text-align: center;
}

.left {
    text-align: left;
}